# Python
__pycache__/
*.py[cod]
*$py.class
.env
env/
venv/
*.log

# Django/local data
db.sqlite3
db.sqlite3-journal
media/

# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Editors and OS files
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
